<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-GNJJMF8KL8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GNJJMF8KL8');
    </script>
    <meta charset="utf-8">
    <title>Cartera</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styleEthan.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>

<body>

<input type="checkbox" id="check">

<!--header area start-->


<nav class="navbar navbar-expand-lg navbar-dark sticky-top"
style="background-color: #B0986F;" >
<div class="container-fluid d-flex align-items-center">

       <img
        th:src="@{/img/logo.png}" alt="" width="60" height="60"> <a
        class="navbar-brand d-flex align-items-center"
        style="margin-left: 20px;" href="#"> Velapp </a>


    <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-center"
        id="navbarNavDropdown">

        <ul class="navbar-nav ms-auto flex-nowrap"
            style="margin-right: 400px;">

                
        
        </ul>
        <label for="check"> 
                    <i class="fas fa-user-circle fa-2x" id="sidebar_btn"></i>
        </label>
    </div>
</div>
</nav>


<!--header area end-->
<!--sidebar start-->

<div class="sidebar">
    <center>
        <img th:src="@{/img/prota.jpg}" class="profile_image" alt="">
        <h4>VellApp</h4>
    </center>


    <a th:href="@{'/listacartera/'+${cartera.usuario.id}}" ><i class="fas fa-desktop"></i><span>Mis Carteras</span></a>
    <a th:href="@{'/login'}"><i class="fas fa-sliders-h"></i><span>Log out</span></a>
</div>


<div class="content">
    <div class="core">
        <div class="izquierda">
            <div>Cartera de facturas</div>
            <br >

				<div class="arriba">
					<h2>Datos de la cartera</h2><br>
					<h4 th:text="'Código del propietario: ' + ${cartera.usuario.username}"></h4>
					<h4 th:text="'Fecha de descuento: ' + ${cartera.DDescuento}"></h4>
					<h4 th:text="'Tipo de tasa: ' + ${cartera.Tasa.NTasa}"></h4>
					<h4 th:text="'Valor recibido total: ' + ${cartera.ValorRecibidoTotal}"></h4>
					
				</div>

            <div class="abajo">
                <table>
                    <tr class="textotabla">
                        <th>N°</th><th>DEmision</th><th>DPago</th><th>Valor Nominal</th><th>Retencion</th><th>Descuento</th>
                        <th>Valor Neto</th><th>Valor Entregado</th><th>Valor Recibido</th><th>TCEA%</th>
                    </tr>
                    <tr th:each="operacion:${operaciones}" class="textonormal">
                        <td th:text="${operacion.COperacion}"></td>
                        <td th:text="${operacion.DEmision}"></td>
                        <td th:text="${operacion.DPago}"></td>
                        <td th:text="${operacion.ValorNominal}"></td>
                        <td th:text="${operacion.Retencion}"></td>                    
                        <td>
                        	<span th:if="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).DescuentoParaTasaNominal(operacion.Cartera.PerTasaNominal, operacion.Cartera.NumDiasTasa, operacion.Cartera.NumDiasPeriodoCapitalizacion, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal)}"></span>
                        	</span>   
                        	<span th:unless="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).DescuentoParaTasaEfectiva(operacion.Cartera.PerTasaEfectiva, operacion.Cartera.NumDiasTasa, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal)}"></span>
                        	</span>        
                        </td>
                      
                        <td>
                        	<span th:if="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).ValorNetoParaTasaNominal(operacion.Cartera.PerTasaNominal, operacion.Cartera.NumDiasTasa, operacion.Cartera.NumDiasPeriodoCapitalizacion, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal)}"></span>
                        	</span> 
                        	
                        	<span th:unless="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).ValorNetoParaTasaEfectiva(operacion.Cartera.PerTasaEfectiva, operacion.Cartera.NumDiasTasa, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal)}"></span>                
                        	</span>
                        </td>
                        
                        <td>
                        	<span th:if="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).ValorEntregadoParaTasaNominal(operacion.Cartera.PerTasaNominal, operacion.Cartera.NumDiasTasa, operacion.Cartera.NumDiasPeriodoCapitalizacion, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal, operacion.Retencion)}"></span>
                        	</span> 
                        	
                        	<span th:unless="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).ValorEntregadoParaTasaEfectiva(operacion.Cartera.PerTasaEfectiva, operacion.Cartera.NumDiasTasa, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal, operacion.Retencion)}"></span>                
                        	</span>
                        </td>
                        <td>
                        	<span th:if="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).ValorRecibidoParaTasaNominal(operacion.Cartera.PerTasaNominal, operacion.Cartera.NumDiasTasa, operacion.Cartera.NumDiasPeriodoCapitalizacion, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal, operacion.Retencion)}"></span>
                        	</span> 
                        	
                        	<span th:unless="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).ValorRecibidoParaTasaEfectiva(operacion.Cartera.PerTasaEfectiva, operacion.Cartera.NumDiasTasa, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal, operacion.Retencion)}"></span>                
                        	</span>
                        
                        </td>                      
                        <td>
                            <span th:if="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).TCEAParaTasaNominal(operacion.Cartera.PerTasaNominal, operacion.Cartera.NumDiasTasa, operacion.Cartera.NumDiasPeriodoCapitalizacion, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal, operacion.Retencion)}"></span>
                        	</span> 
                        	
                        	<span th:unless="${operacion.Cartera.Tasa.CTasa == 1}">
                        		<span th:text="${T(pe.edu.upc.velapp.controller.CalculoController).TCEAParaTasaEfectiva(operacion.Cartera.PerTasaEfectiva, operacion.Cartera.NumDiasTasa, operacion.DPago, operacion.Cartera.DDescuento, operacion.ValorNominal, operacion.Cartera.GastoInicialTotal, operacion.Cartera.GastoFinalTotal, operacion.Retencion)}"></span>                
                        	</span>
                        </td>
                   
                       
                    </tr>
    
                </table>
            </div>
        </div>

        <div class="derecha">
            <div class="dabajo">
                <a th:href="@{'/factura/'+${cartera.CCartera}}">

                    <button type="button" class="btn btn-success"
                            style="background-color: #0f0f0f ">Nuevo
                    </button>
                    
                </a>
            </div>
        </div>

    </div>
    

    



</div>

</body>

</html>