<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
	src="https://www.googletagmanager.com/gtag/js?id=G-GNJJMF8KL8"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GNJJMF8KL8');
    </script>
<meta charset="utf-8">
<title>Datos de la cartera</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/Datos_style.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>
</head>

<body>
	
	<input type="checkbox" id="check">

		<!--header area start-->

	
		<nav class="navbar navbar-expand-lg navbar-dark sticky-top"
			style="background-color: #B0986F;" >
			<div class="container-fluid d-flex align-items-center">

				   <img
					src="img/logo.png" alt="" width="60" height="60"> <a
					class="navbar-brand d-flex align-items-center"
					style="margin-left: 20px;" href="#"> Velapp </a>


				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-flex align-items-center"
					id="navbarNavDropdown">

					<ul class="navbar-nav ms-auto flex-nowrap"
						style="margin-right: 400px;">

							
					
					</ul>
					<label for="check"> 
								<i class="fas fa-user-circle fa-2x" id="sidebar_btn"></i>
					</label>
				</div>
			</div>
		</nav>
	
	
		<!--header area end-->
		<!--sidebar start-->

		<div class="sidebar">
			<center>
				<img src="img/prota.jpg" class="profile_image" alt="">
				<h4>Vellap</h4>
			</center>


			<a href="appoimentList.html" ><i class="fas fa-desktop"></i><span>Mis Carteras</span></a>
            <a href="#" ><i class="fas fa-desktop"></i><span>Resumen de la cartera</span></a>
    <a href="FiltradodeCarteradefacturas.html" ><i class="fas fa-desktop"></i><span>Filtrado de facturas</span></a>
    <a href="login.html"><i class="fas fa-sliders-h"></i><span>Log out</span></a>
		</div>
		

		<div class="content">
			
			<div class="datos_arriba">
                <div class="datos_arriba_izquierda">
                    <div class="titulo">
                        <h2>Cartera de facturas</h2>
                    </div>
                    <div class="datos_texto">
                        <h5>Empieza con definir los datos de tu cartera</h5>
                    </div>
                </div>

                <div class="datos_arriba_drecha">
                    <a class="btn btn-primary" href="Carteradefacturas.html" role="button">Confirmar</a>
                </div>
            </div>

            <div class="datos_abajo">
                <div class="datos_abajo_izquierda">
                    <div class="moneda">
                        <div class="datos_texto">
                            <h5>Tipo de moneda</h5>
                        </div>

                        <div class="dd_moneda">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                  S/.
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="#">Soles S/.</a></li>
                                  <li><a class="dropdown-item" href="#">Dólares $</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="subtitulo">
                        <h4>Tasa</h4>
                    </div>
                    <div class="datos_marco">

                        <div class="tasa">
                            <div class="datos_texto">
                                <h5>Tipo de tasa</h5>
                            </div>
                            <div class="cb_tasa">
                                <div class="cb_tasa_efectiva">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Efectiva
                                    </label>
                                </div>
                                <div class="cb_tasa_nominal">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Nominal
                                    </label>
                                </div>
                            </div>
                        </div>
    
                        <div class="valor">
                            <div class="datos_texto">
                                <h5>Valor de la Tasa (%)</h5>
                            </div>
                            <div class="in_tasa">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                        </div>
    
                        <div class="plazo">
                            <div class="datos_texto">
                                <h5>Plazo de la tasa</h5>
                            </div>
                            <div class="dd_tasa">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      Anual
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" href="#">Anual</a></li>
                                      <li><a class="dropdown-item" href="#">Semestral</a></li>
                                      <li><a class="dropdown-item" href="#">Cuatrimestral</a></li>
                                      <li><a class="dropdown-item" href="#">Trimestral</a></li>
                                      <li><a class="dropdown-item" href="#">Bimestral</a></li>
                                      <li><a class="dropdown-item" href="#">Mensual</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
    
                        <div class="periodo">
                            <div class="datos_texto">
                                <h5>Periodo de capitalización</h5>
                            </div>
                            <div class="dd_periodo">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      Anual
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" href="#">Anual</a></li>
                                      <li><a class="dropdown-item" href="#">Semestral</a></li>
                                      <li><a class="dropdown-item" href="#">Cuatrimestral</a></li>
                                      <li><a class="dropdown-item" href="#">Trimestral</a></li>
                                      <li><a class="dropdown-item" href="#">Bimestral</a></li>
                                      <li><a class="dropdown-item" href="#">Mensual</a></li>
                                      <li><a class="dropdown-item" href="#">Quincenal</a></li>
                                      <li><a class="dropdown-item" href="#">Semanal</a></li>
                                      <li><a class="dropdown-item" href="#">Diario</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
    
                        <div class="fecha">
                            <div class="datos_texto">
                                <h5>Fecha de descuento</h5>
                                <h5>(dd/mm/aa)</h5>
                            </div>
                            <div class="in_fecha">
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="02/06/2021">
                            </div>
                        </div>
    
                        
                    </div>
                    
                </div>

                <div class="datos_abajo_derecha">
                    <div class="gastos_iniciales">
                        <div clas="subtitulo">
                            <h4>Gastos iniciales</h4>
                        </div>
                        <div class="datos_marco">
                            
                            <div class="tipo_gasto">
                                <div class="datos_texto">
                                    <h5>Tipo de gasto</h5>
                                </div>
                                <div class="dd_g">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                          Gasto notarial
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item" href="#">Gasto notarial</a></li>
                                          <li><a class="dropdown-item" href="#">Gasto fiscal ?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="monto_gasto">
                                <div class="datos_texto">
                                    <h5>Monto del gasto</h5>
                                </div>
                                <div class="in_monto">
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                </div>
                            </div>
                            
                        </div>
                        <div class="datos_botones">
                            <a class="btn btn-primary" href="#" role="button">Agregar</a>
                            <a class="btn btn-primary" href="#" role="button">Eliminar</a>
                        </div>
                        <div class="gasto_texto">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                    </div>

                    <div class="gasto_finales">
                        <div clas="subtitulo">
                            <h4>Gastos finales</h4>
                        </div>
                        <div class="datos_marco">
                            <div class="tipo_gasto">
                                <div class="datos_texto">
                                    <h5>Tipo de gasto</h5>
                                </div>
                                <div class="dd_g">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                          Gasto notarial
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item" href="#">Gasto notarial</a></li>
                                          <li><a class="dropdown-item" href="#">Gasto fiscal ?</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="monto_gasto">
                                <div class="datos_texto">
                                    <h5>Monto del gasto</h5>
                                </div>
                                <div class="in_monto">
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="datos_botones">
                            <a class="btn btn-primary" href="#" role="button">Agregar</a>
                            <a class="btn btn-primary" href="#" role="button">Eliminar</a>
                        </div>
                        <div class="gasto_texto">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                        </div>
                    </div>

                </div>
            </div>
			
		</div>
	
</body>

</html>