<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-GNJJMF8KL8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GNJJMF8KL8');
    </script>
    <meta charset="utf-8">
    <title>Datos de la cartera</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Gastos.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>

<body>

<input type="checkbox" id="check">

<!--header area start-->


<nav class="navbar navbar-expand-lg navbar-dark sticky-top"
     style="background-color: #B0986F;" >
    <div class="container-fluid d-flex align-items-center">

        <img
                src="/img/logo.png" alt="" width="60" height="60"> <a
            class="navbar-brand d-flex align-items-center"
            style="margin-left: 20px;" href="#"> Velapp </a>


        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex align-items-center"
             id="navbarNavDropdown">

            <ul class="navbar-nav ms-auto flex-nowrap"
                style="margin-right: 400px;">



            </ul>
            <label for="check">
                <i class="fas fa-user-circle fa-2x" id="sidebar_btn"></i>
            </label>
        </div>
    </div>
</nav>


<!--header area end-->
<!--sidebar start-->

<div class="sidebar">
    <center>
        <img th:src="@{/img/prota.jpg}" class="profile_image" alt="">
        <h4>Vellap</h4>
    </center>


    <a th:href="@{'/listacartera/'}" ><i class="fas fa-desktop"></i><span>Mis Carteras</span></a>
   	<a th:href="@{'/login'}"><i class="fas fa-sliders-h"></i><span>Log out</span></a>
</div>


<div class="content">

    <div class="datos_arriba">
        <div class="datos_arriba_izquierda">
            <div class="titulo">
                <h2>Gastos finales</h2>
            </div>
            <div class="datos_texto">
                <h5>Define los gastos finales de tu cartera</h5>
            </div>
        </div>

        <div class="datos_arriba_drecha">
            
        </div>
    </div>

    <div class="datos_abajo">
        <div class="datos_abajo_izquierda">
        
        
           <form th:action="@{/crearcartera/save_gasto_final}" th:object="${new_gasto_final}", method="post">
        
            <div class="datos_marco">

                <div class="tipo_gasto">
                    <div class="datos_texto">
                        <h5>Tipo de gasto</h5>
                    </div>
                    
                    <input type="text" class="form-control" th:field="*{CGasto}" hidden="true">
                    <input type="text" class="form-control" th:field="*{Cartera}" hidden="true">
                    <input type="text" class="form-control" th:field="*{TipoGasto}" hidden="true">
                    
                    
                    <div class="dd_g">
                        <div class="dropdown">
                            <select class="form-select" aria-label="Default select example">
								 	<option value="1">Portes</option>
								 	<option value="2">Gastos de administracion</option>
								 	<option value="3">Gastos notariales</option>
								 	<option value="4">Seguro</option>
								 	<option value="5">Otros gastos</option>
							</select>
                        </div>
                    </div>
                </div>
                <div class="monto_gasto">
                    <div class="datos_texto">
                        <h5>Monto del gasto</h5>
                    </div>
                    <div class="in_monto">
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" th:field="*{MGasto}">
                    </div>
                </div>

            </div>
            
            <div class="datos_botones">
                <button type="submit" class="btn btn-primary">Agregar</button>
                
            </div>
            
            </form>
        </div>
        </div>
    </div>

</div>

</body>

</html>