<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="https://www.thymeleaf.org/"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async
	src="https://www.googletagmanager.com/gtag/js?id=G-GNJJMF8KL8"></script>
<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-GNJJMF8KL8');
    </script>
<meta charset="utf-8">
<title>Menu</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/stylemenu.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
	crossorigin="anonymous"></script>
</head>

<body>
	
	<input type="checkbox" id="check">

		<!--header area start-->

		<nav class="navbar navbar-expand-lg navbar-dark sticky-top"
			style="background-color: #B0986F;" >
			<div class="container-fluid d-flex align-items-center">

				   <img
					src="img/logo.png" alt="" width="60" height="60"> <a
					class="navbar-brand d-flex align-items-center"
					style="margin-left: 20px;" href="#"> VellApp </a>


				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
					aria-controls="navbarNavDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse d-flex align-items-center"
					id="navbarNavDropdown">
					<ul class="navbar-nav ms-auto flex-nowrap"
						style="margin-right: 400px;">

							
					
					</ul>
					<label for="check"> 
								<i class="fas fa-user-circle fa-2x" id="sidebar_btn"></i>
					</label>
				</div>
			</div>
		</nav>
	
		<!--header area end-->
		<!--sidebar start-->

		<div class="sidebar">
			<center>

				<img th:src="@{img/prota.jpg}" class="profile_image" alt="">
				<h4 > [[${#request.userPrincipal.principal.getID}]]</h4>

				<img th:src="@{/img/prota.jpg}" class="profile_image" alt="">
				<h4>VellApp</h4>

			</center>


			<a th:href="@{'/listacartera/'+${#request.userPrincipal.principal.getID}}"><i class="fas fa-desktop"></i><span>Mis carteras</span></a>
			<a th:href="@{/login}"><i class="fas fa-cogs"></i><span>Log out</span></a>
		</div>
		

		<div class="content">
			<div class="izquierda">
                <br >
				<div class="iabajo">Bienvenido a VelApp</div> 
                <br >
                <div class="iabajo">Empieza hacer tu cartera</div>
				<br >
				
            </div>

		
			<div class="derecha">
				<div class="dabajo">
					<a th:href="@{'/listacartera/'+${#request.userPrincipal.principal.getID}}">
						<button type="button" class="btn btn-success"
						style="background-color: #0f0f0f ">Empezar</button>
					</a>
					
				</div>
			</div>
		</div>
	
</body>

</html>